<!-- Encabezado superiror -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- Botón menú desplegable -->
    <ion-buttons slot="start"> </ion-buttons>

    <!--ion-title>Panel de Control</ion-title-->

    <!-- Botón logout -->
    <ion-buttons slot="end">
      <ion-button (click)="logout()" class="custom-logout-btn">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contenido principal -->
<ion-content>
  <!-- Cabecera visual decorativa -->
  <div class="dashboard-header">
    <div class="welcome-msg">
      <!-- Saludo dinámico -->
      <h1><span>Hola, {{ userName }}</span></h1>
      <p>¿Qué gestión realizaremos hoy?</p>
    </div>
  </div>

  <!-- Contenedor principal de tarajetas -->
  <div class="container">
    <!-- Menú de módulos / tarjetas administrativas -->
    <ion-grid>
      <ion-row>
        @for (item of adminModules; track item.title) {
        <ion-col size="6" size-md="4" size-lg="3">
          <div class="menu-card" (click)="navTo(item)">

            <!-- Badge para notificaciones o conteo -->
            @if (item.badgeSignal !== undefined && item.badgeSignal !== null) {
            <span class="custom-badge" [class.badge-zero]="item.badgeSignal() === 0">{{ item.badgeSignal() }}</span>
            }

            <!-- Icono de la tarjeta con fondo personalizado -->
            <div class="icon-box" [style.background-color]="item.color + '15'">
              <ion-icon
                [name]="item.icon"
                [style.color]="item.color"
              ></ion-icon>
            </div>

            <!-- Información de la tarjeta -->
            <div class="card-info">
              <h3>{{ item.title }}</h3>
              <p>{{ item.label }}</p>
            </div>
          </div>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
