/* =====================================================
   Fondo general
   ===================================================== */
ion-content {
  --background: var(--bg-app);
  width: 100%;
  overflow-x: hidden;
}

/* =====================================================
   Tarjetas
   ===================================================== */
ion-list {
  background: var(--bg-app);
}

/* =====================================================
   Imagen
   ===================================================== */
.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

/* =====================================================
   Precio
   ===================================================== */
.price-tag {
  font-weight: 800;
  color: var(--ion-color-success);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Estado sin stock */
.status-out {
  background: var(--ion-color-danger);
  color: white;
  font-size: 0.65rem;
  padding: 2px 8px;
  border-radius: 10px;
  text-transform: uppercase;
}
