/* =====================================================
   FONDO GENERAL
===================================================== */
ion-content {
  --background: var(--bg-app);
  width: 100%;
  overflow-x: hidden;
}

/* =====================================================
   TARJETA PERSONALIZADA
===================================================== */
ion-list {
  background: var(--bg-app);
}





