<ion-header class="ion-no-border">
  <!-- Barra de Navegación -->
  <ion-toolbar class="main-header">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home/admin/dashboard"
        text=""
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="page-title" mode="ios">
      <div class="page-title-container">
        <h1 class="page-title-text"><span>Gestión de Pedidos</span></h1>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cargarPedidos()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Barra de búsqueda -->
  <ion-toolbar class="search-toolbar">
    <ion-searchbar
      mode="ios"
      placeholder="Buscar cliente..."
      class="custom-search"
      (ionInput)="setFiltro($event)"
      [debounce]="300"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Pull to refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="cargarPedidos()"> </ion-refresher>

  <div class="list-container ion-padding">
    @if (isLoading()) {
      <div class="loader-container">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
      </div>
    } @else {
      <!-- Lista Real de Pedidos -->
      @for (p of pedidos(); track p.idPedido) {
        <div
          class="order-card"
          [class]="p.estado!.toLowerCase().replace(' ', '-')"
          (click)="verDetalle(p.idPedido!)"
        >
          <div class="card-header">
            <div class="order-id">
              <small>ORDEN</small>
              <strong>#{{ p.idPedido }}</strong>
            </div>
            <ion-badge [color]="getBadgeColor(p.estado!)" mode="ios">
              {{ p.estado }}
            </ion-badge>
          </div>

          <div class="card-body">
            <div class="info-row">
              <ion-icon name="person-circle-outline"></ion-icon>
              <span>{{ p.nombreCliente }}</span>
            </div>
            <div class="info-row">
              <ion-icon name="time-outline"></ion-icon>
              <span>{{ p.fechaRegistro | date: "hh:mm a" }}</span>
            </div>
          </div>

          <div class="card-footer">
            <div class="total-label">
              Total:
              <span>{{ p.total | currency: "C$" : "symbol" : "1.2-2" }}</span>
            </div>
            <ion-button
              fill="clear"
              color="primary"
              (click)="gestionEstado(p, $event)"
            >
              <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </div>
      } @empty {
        <!-- Estado Vacío -->
        <div class="empty-container">
          <ion-icon name="receipt-outline"></ion-icon>
          <h3>Sin registros</h3>
          <p>No se encontraron pedidos.</p>
        </div>
      }

      <!-- Paginación -->
      @if (totalPaginas() > 1) {
        <div class="pagination-container">
          <div class="pagination-btns">
            <ion-button
              fill="clear"
              (click)="prevPage()"
              [disabled]="paginaActual() === 1"
            >
              <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <div class="page-dot active"></div>
            <ion-button
              fill="clear"
              (click)="nextPage()"
              [disabled]="paginaActual() === totalPaginas()"
            >
              <ion-icon
                name="chevron-forward-outline"
                slot="icon-only"
              ></ion-icon>
            </ion-button>
          </div>

          <div class="page-indicator">
            Página <strong>{{ paginaActual() }}</strong> de
            <strong>{{ totalPaginas() }}</strong>
          </div>
        </div>
      }
    }
  </div>
</ion-content>
