/* =====================================================
   Contenedor de inputs
   ===================================================== */
.custom-input-item {
  --padding-start: 15px;
  --padding-end: 15px;
}
