
:root {

  /* ---------- Fondos ---------- */
  --bg-app: #f1f5f9;                 /* antes: --fondo-general */
  --bg-surface: #ffffff;             /* antes: --color-blanco */
  //--bg-input: #ffffff;               /* antes: --fondo-input */
  --bg-input: rgba(255,255,255,0.15); /* antes: --background-input */

  /* ---------- Texto ---------- */
  --text-title: #1e293b;            /* antes: --color-titulo / --color-text */
  --text-body: #333333;          /* antes: --color-icono */
  --text-error: #dc2626;              /* antes: --color-error */

  /* ---------- Colores ---------- */
  --color-primary: #0055ff;           /* antes: --color-primary */
  --color-accent: #0055e5;            /* antes: --color-azul */
  --color-white: #ffffff;
  --color-icon: #6b7280;

  /* ---------- Sombras ---------- */
  --shadow-soft: rgba(20,40,80,0.06);  /* antes: --shadow-light */
  --shadow-strong: rgba(43,128,255,0.22); /* antes: --shadow-medium */
  
}


