/* ==========================================
   Contenedor principal de la página
========================================== */
.register-page {
  --background: var(--bg-app);
  --color: var(--text-primary);
  height: 100%;
}

