<!-- Contenedor principal -->
<ion-content class="register-page" fullscreen>
  <div class="main-container">
    <!-- Sección de logo y título -->
    <div class="logo-section">
      <div class="logo-circle">
        <ion-icon
          name="person-circle"
          class="logo-icon"
          aria-hidden="true"
        ></ion-icon>
      </div>

      <h1>CREAR CUENTA</h1>
    </div>

    <!-- Formulario -->
    <form
      [formGroup]="frmUsuarioRegistro"
      (ngSubmit)="guardarRegistro()"
      novalidate
    >
      <!-- Contenedor que controla ancho de inputs y botones -->
      <div class="form-fileds">
        <!-- Campo: nombre completo -->
        <ion-item lines="none" class="custom-input-item">
          <div slot="start" class="icon-wrapper">
            <ion-icon name="person-circle"></ion-icon>
          </div>

          <ion-input
            type="text"
            label="Nombre completo"
            labelPlacement="floating"
            autocapitalize="words"
            formControlName="nombreCompleto"
          >
          </ion-input>
        </ion-item>

        <!-- Error nombre completo -->
        @if (isInvalid('nombreCompleto')) {
        <div class="error-text">
          <small>Nombre obligatorio (3 a 60 caracteres).</small>
        </div>
        }

        <!-- Campo: teléfono -->
        <ion-item lines="none" class="custom-input-item">
          <div slot="start" class="icon-wrapper">
            <ion-icon name="call"></ion-icon>
          </div>
          <ion-input
            type="tel"
            label=" Teléfono"
            labelPlacement="floating"
            formControlName="phoneNumber"
          >
          </ion-input>
        </ion-item>

        <!-- Error teléfono -->
        @if (isInvalid('phoneNumber')) {
        <div class="error-text">
          <small>Ingrese un teléfono válido (mín. 8 dígitos).</small>
        </div>
        }

        <!-- Campo: email -->
        <ion-item lines="none" class="custom-input-item">
          <div slot="start" class="icon-wrapper">
            <ion-icon name="mail"></ion-icon>
          </div>
          <ion-input
            id="register-email"
            type="email"
            label="Email"
            labelPlacement="floating"
            autocapitalize="off"
            formControlName="userName"
          >
          </ion-input>
        </ion-item>

        <!-- Error email -->
        @if (isInvalid('userName')) {
        <div class="error-text">
          <small>Email inválido (ejemplo@correo.com).</small>
        </div>
        }

        <!-- Campo: contraseña -->
        <ion-item lines="none" class="custom-input-item">
          <div slot="start" class="icon-wrapper">
            <ion-icon name="lock-closed"></ion-icon>
          </div>
          <ion-input
            id="register-password"
            [type]="passwordToggle ? 'text' : 'password'"
            label="Contraseña"
            labelPlacement="floating"
            formControlName="password"
          >
            <!-- Botón de visibilidad -->
            <ion-button
              slot="end"
              fill="clear"
              (click)="passwordToggle = !passwordToggle"
              class="eye-button"
            >
              <ion-icon
                [name]="passwordToggle ? 'eye-off' : 'eye'"
                slot="icon-only"
              ></ion-icon>
            </ion-button>
          </ion-input>
        </ion-item>

        <!-- Error contraseña -->
        @if (isInvalid('password')) {
        <ion-text color="danger">
          <div class="error-text">
            <small>Mínimo 6 caracteres (Mayús., Minús., Núm. y Símbolo).</small>
          </div>
        </ion-text>
        }

        <!-- Botón crear cuenta-->
        <ion-button
          expand="block"
          class="btn-primary"
          type="submit"
          [disabled]="frmUsuarioRegistro.invalid"
        >
          Crear Cuenta
        </ion-button>
      </div>
    </form>

    <!-- Enlace a login -->
    <div class="signup">
      ¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a>
    </div>
  </div>
</ion-content>
