<!-- Contenedor principal -->
<ion-content class="login-page" scroll-y="false">
  <div class="main-container">
    <!-- Sección de logo y título -->
    <div class="logo-section">
      <div class="logo-circle">
        <ion-icon
          name="lock-closed"
          class="logo-icon"
          aria-hidden="true"
        ></ion-icon>
      </div>

      <h1>INICIAR SESIÓN</h1>
    </div>

    <!-- Formulario -->
    <form [formGroup]="frmLogin" (ngSubmit)="login()" novalidate>
      <div class="form-fields">
        <!-- Campo: Email -->
        <ion-item lines="none" class="custom-input-item">
          <div slot="start" class="icon-wrapper">
            <ion-icon name="mail"></ion-icon>
          </div>
          <ion-input
            id="login-email"
            type="email"
            label="Email"
            labelPlacement="floating"
            formControlName="userName"
          >
          </ion-input>
        </ion-item>

        <!-- Error email -->
        @if (isInvalid('userName')) {
        <div class="error-text">
          <small>Email inválido (ejemplo@correo.com).</small>
        </div>
        }

        <!-- Campo: password -->
        <ion-item lines="none" class="custom-input-item">
          <div slot="start" class="icon-wrapper">
            <ion-icon name="lock-closed"></ion-icon>
          </div>
          <ion-input
            id="login-password"
            [type]="passwordToggle ? 'text' : 'password'"
            label="Contraseña"
            labelPlacement="floating"
            formControlName="password"
          >
            <!-- Botón de visibilidad -->
            <ion-button
              slot="end"
              fill="clear"
              (click)="passwordToggle = !passwordToggle"
              class="eye-button"
            >
              <ion-icon
                [name]="passwordToggle ? 'eye-off' : 'eye'"
                slot="icon-only"
              ></ion-icon>
            </ion-button>
          </ion-input>
        </ion-item>

        <!-- Error password -->
        @if (isInvalid('password')) {
        <ion-text color="danger">
          <div class="error-text">
            <small>Mínimo 6 caracteres (Mayús., Minús., Núm. y Símbolo).</small>
          </div>
        </ion-text>
        }

        <!-- Botón login-->
        <ion-button
          expand="block"
          class="btn-primary"
          type="submit"
          [disabled]="frmLogin.invalid"
        >
          Iniciar Sesión
        </ion-button>

      </div>
    </form>

    <!-- Enlace a registro -->
    <div class="signup">
      ¿No tienes cuenta? <a routerLink="/auth/register">Regístrate</a>
    </div>
  </div>
</ion-content>
